body {
    margin: 0;
    padding-top:100px;
    
    font-family: Arial, sans-serif;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    text-shadow: 1px 1px 10px red;
    background-size: cover; /* Adjust as needed */
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    background-position: center;
    overflow: hidden;
    
  }

